<section id="confirmation">
  <h1>Thank you!</h1>
  <h2>Your order #<span id="confirmation-order">{{orderId}}</span> has been placed!</h1>
  
  <a href="/">
    <button id="confirm-btn">Back to Home</button>
  </a>

</section>

<script src="/js/confirm-page/js"></script>