<div class="login-container">
    <span>LOGIN</span>
    <form action="/login" method="POST">
        <input type="email" name="emailFromUI" id="emailFromUI" placeholder="Enter email address">
        <input type="password" name="pwdFromUI" id="pwdFromUI" placeholder="Enter password">

        <div class="login-sub-container">
            <button id="loginBtn" type="submit">LOGIN</button>
            <button id="registerBtn" type="button"><a href="/register">REGISTER</a></button>
        </div>
    </form>
</div>