<div class="login-container">
    <span>REGISTER</span>
    <form action="/register" method="POST">
        <input type="email" name="emailFromUI" id="emailFromUI" placeholder="Enter email address">
        <input type="password" name="pwdFromUI" id="pwdFromUI" placeholder="Enter password">

        <div class="login-sub-container">
            <button id="loginBtn" type="button"><a href="/login">LOGIN</a></button>
            <button id="registerBtn" type="submit">REGISTER</button>
        </div>
    </form>
</div>